h1, h2{
    font-size: 20px;
    color:  #2196F3;
    display: flex;
    text-align: center;
    padding: 2%;
}

.container{
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.btn-outline-primary {
    color: #2196F3;
    border-color:  #2196F3;
}

.btn {
    font-size: 20px;
    width: 100px;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: transparent;
    border: 2px solid #2196F3;
}

#resultadoCuota {
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #e3f2fd;
    color: #003366;
}