h1, h2{
    font-size: 15px;
    color:  #2196F3;
    display: flex;
    text-align: center;
    padding: 2%;
}

.container{
    background-color: rgb(215, 215, 225);
    width: 375px;
}

.btn-outline-primary {
    color: #2196F3;
    border-color:  #2196F3;
}

.btn {
    font-size: 15px;
    width: 100px;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: transparent;
    border: 2px solid #2196F3;
}
